@import url(bootstrap.min.css);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
  background: #2c2c2c url(../images/bg.jpg) top center no-repeat;
}

#page-wrap {
  width: 960px;
  margin: 40px auto;
  overflow: hidden;
}

#bottom-wrap {
  width: 960px;
  margin: 40px auto;
  overflow: hidden;
}

.hidden {
  position: absolute;
  left: -999em;
  top: -999em;
  width: 1%;
}

h1 {
  font-size: 48px;
  letter-spacing: -1px;
  color: white;
  margin: 0 0 15px 0;
}

h1 span {
  color: #1f8cc5;
}

h3 {
  font-size: 18px;
  letter-spacing: -1px;
  margin: 0 0 5px 0;
}

p, label {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 18px;
  margin: 4px 0;
}

fieldset {
  width: 280px;
  padding: 15px;
  float: left;
  border: none;
  margin: 0 10px 0 0;
}

fieldset#step_1 {
  background: #d9edf7;
}

fieldset#step_2 {
  background: #dff0d8;
}

fieldset#step_3 {
  background: #f2dede;
}

#bottomFieldset {
  width: 870px;
  padding: 15px;
  border: none;
  margin: 0 10px 0 0;
  background: #f3edd2;
}

legend {
  width: auto;
  font-weight: bold;
  font-size: 20px;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 5px 10px;
  letter-spacing: -1px;
}
