body {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #eee;
}

.row {
  margin-bottom: 2rem;
}

#form-saved-alert, #miner-disabled-alert {
  display: none;
}

.form-config .checkbox {
  font-weight: 400;
}

.form-config .form-control {
  padding: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}
